{% extends 'base.html' %}
{% load widget_tweaks %}

{% block conteudo %}

<h1>{{Nome}}</h1>

<div class="container-fluid">
    <p type="button" class="btn btn-light">
        <a href="{% url 'habilitacoes.criar' %}">Cadastrar uma carteira</a>
        <i class="fa-solid fa-plus"></i>
    </p>
    <table class="table table-dark table-striped-columns table-bordered border-light">
        <tr>
            <th>#</th>
            <th>validade</th>
            <th>Dono</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        {% for habilitacao in habilitacoes %}
        <tr>
            <td>{{ habilitacao.id }}</td>
            <td>{{ habilitacao.validade }}</td>
            <td>{{ habilitacao.pessoa }}</td>
            <td>
                <p type="button" class="btn btn-warning" >
                    <a href="{% url 'habilitacoes.editar' habilitacao.id %}"><i class="fa-solid fa-wrench"></i></a>
                </p>
            </td>
            <td>
                <p type="button" class="btn btn-danger">
                    <a href="{% url 'habilitacoes.excluir' habilitacao.id %}" onclick="return confirm('Deseja realmente excluir a habilitação de {{ habilitacao.pessoa|escapejs }}?')"><i class="fa-solid fa-trash"></i></a>
                </p>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p type="button" class="btn btn-light">
        <a href="{% url 'home' %}">Voltar para a página inicial</a><i class="fa-solid fa-reply"></i>
    </p>
</div>

{% endblock %}